.idea/
.vscode/
/annotation/
build/
/include/htslib/
/lib/
/share/
/tests/include/data.hpp 
/bin/htsfile
/bin/bgzip
/bin/tabix
/bin/bowtie-build-s
/bin/bowtie-inspect-s
/bin/bowtie-build-l
/bin/bowtie-inspect
/bin/bowtie-inspect-l
/bin/bowtie-build
/bin/bowtie
/bin/bowtie-align-s
/bin/bowtie-align-l 
/bin/bowtie2-build-l
/bin/bowtie2-inspect-l
/bin/bowtie2-build-s
/bin/bowtie2-align-l
/bin/bowtie2-build
/bin/bowtie2-inspect
/bin/bowtie2-inspect-s
/bin/bowtie2
/bin/bowtie2-align-s
/bin/ace2sam
/bin/blast2sam.pl
/bin/bowtie2sam.pl
/bin/export2sam.pl
/bin/interpolate_sam.pl
/bin/maq2sam-long
/bin/maq2sam-short
/bin/md5fa
/bin/md5sum-lite
/bin/novo2sam.pl
/bin/plot-bamstats
/bin/psl2sam.pl
/bin/sam2vcf.pl
/bin/samtools
/bin/samtools.pl
/bin/seq_cache_populate.pl
/bin/soap2sam.pl
/bin/varfilter.py
/bin/wgsim
/bin/wgsim_eval.pl
/bin/zoom2sam.pl
/bin/nproc
/bin/awk
/bin/readlink
/bin/clip_umi
/bin/bam_dedup
/cmake-build-debug
bin/python/
